.formColumnContainer {
  display: flex;
  flex-direction: row;

}
.formColumn {
  margin: 0 auto;
  padding: 20px;
}

.nameTextInput {
  padding: 10px 0px;
}

.nameTextInputWrapper {
  display: flex;
  flex-direction: column;
}
